#map{
	height: 100%;
	width:100%;
	z-index: 0;
}

#dadosMapa{
	height:40px;
	position: relative;
	z-index: 1;
}

#alteraDivisao{
	background-color: white;
}

#AplicarNoMapa{
	position: absolute;
	left:315px;
}
#data-box{
	position: absolute;
	left:300px;
	top:200px;
}