<div id="indicadores" class="container">
	<ul *ngFor="let indicador of indicadores" (click)="OnSelectCategoria(indicador.categoria)"> 
		<li>{{ indicador.categoria }}</li>
		<ul *ngIf="indicador.categoria == categoriaSelecionada" >
			<li *ngFor="let nome of indicador.nome; let i = index" class="listaIndicadores"> 
				<input type="radio" name="radioIndicador" (change)="AlteraIndicador(indicador.cod[i])">{{ nome }}
				
			</li>
		</ul>
 	</ul>
</div>
<app-map [codIndicador] = "indicadorSelecionado" ></app-map>