<div id="indicadores" [hidden]="aba != 'indicadores'" >
	<div id="categorias">
		<ul *ngFor="let indicador of indicadores" (click)="OnSelectCategoria(indicador.categoria)"> 
			<li>{{ indicador.categoria }}</li>
			<ul *ngIf="indicador.categoria == categoriaSelecionada" >
				<li *ngFor="let nome of indicador.nome; let i = index" class="listaIndicadores"> 
					<input type="radio" name="radioIndicador" (change)="AlteraIndicador(indicador.cod[i])">{{ nome }}
				</li>
			</ul>
	 	</ul>
	</div>
	<div id="anos" *ngIf="anos != null">
		<select>
			<option *ngFor="let ano of anos" [value]="ano">{{ano}}</option>
		</select>
	</div>
</div>
